# Ignore general
*~
._*
*.bak
/.*

*.db

# Except this stuff
!.gitattributes
!.gitignore
!.github

# Ignore Gradle, including local override properties (template file available under /templates)
build/
gradle.properties

# Ignore IntelliJ - could use "/**/*.iml" to catch all .iml files, but that requires a somewhat recent Git version
/out/
/**/*.iml
/*.iml
/*.ipr
/*.iws
